services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - .:/var/www/html
    environment:
      - TAPSILAT_API_KEY=${TAPSILAT_API_KEY}
    working_dir: /var/www/html
    command: ['php', '-S', '0.0.0.0:8000', '-t', 'public']
    networks:
      - tapsilat_network

networks:
  tapsilat_network:
    driver: bridge
